.header {
  padding: 20px;
  &__inner {
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &-image {
    }
  }

  &__navigation {
    font-size: 18px;
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-item {
      & + & {
        margin-left: 15px;
      }
    }

    &-dropdown {
      position: relative;
      .header__navigation-link {
        padding-right: 15px;
      }
      &:hover {
        .header__navigation-link {
          opacity: 0.7;
        }
        .header__navigation-sublist {
          padding: 15px;
          grid-template-rows: 1fr;
        }
        .header__navigation-subitem + .header__navigation-subitem {
          margin-top: 10px;
        }
        &::after {
          scale: (-1);
          bottom: 3px;
          opacity: 0.7;
        }
      }
    }

    &-link {
      position: relative;
      color: $coffee;
      @include fSemiBold;
    }

    &-sublist {
      display: grid;
      grid-template-rows: 0fr;
      position: absolute;
      left: 0;
      top: 30px;
      padding: 0 15px;
      background-color: $secondaryL;
      border-radius: 10px;
      width: max-content;
      transition: grid-template-rows 0.5s ease, padding 0.5s ease;
      box-shadow: 0 0 5px 0px rgba($color: $coffee, $alpha: 0.2);
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        width: 100%;
        height: 8px;
        background-color: transparent;
      }
    }
    &-subinner {
      overflow: hidden;
    }

    &-subitem {
      & + & {
        margin-top: 0px;
        transition: margin 0.5s ease;
      }
    }

    &-sublink {
      color: $coffee;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__account {
    position: relative;
    &.show {
      .header__account-list {
        grid-template-rows: 1fr;
        padding: 15px;
      }
      .header__account-personal {
        &::after {
          scale: (-1);
          bottom: 3px;
          opacity: 0.7;
        }
      }
    }
    &-personal {
      background-color: transparent;
      border: none;
      @include fSemiBold;
      color: $coffee;
      padding-right: 15px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &-list {
      display: grid;
      grid-template-rows: 0fr;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      width: max-content;
      background-color: $secondaryL;
      padding: 0 15px;
      font-size: 18px;
      z-index: 2;
      border-radius: 10px;
      box-shadow: 0 0 5px 0px rgba($color: $coffee, $alpha: 0.2);
      transition: grid-template-rows 0.5s ease, padding 0.5s ease;
    }
    &-inner {
      overflow: hidden;
    }
    &-item {
      & + & {
        margin-top: 10px;
      }
    }
    &-link {
      color: $coffee;
      &:hover {
        opacity: 0.7;
      }
    }
    &-btn {
      position: relative;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &-logout {
      display: flex;
      align-items: center;
    }
    &-cart {
    }
  }

  &__burger {
  }

  &__lang {
    &-title {
    }

    &-list {
    }

    &-item {
    }
  }

  &__futures {
    display: flex;
    align-items: center;
  }

  &__wishlist,
  &__cart {
  }

  &__wishlist {
    margin-right: 20px;
    &-icon {
    }

    &-count {
    }

    &-wrapper {
    }

    &-title {
    }

    &-products {
    }

    &-product {
    }

    &-image {
    }

    &-info {
    }

    &-name {
    }

    &-ingredients {
    }

    &-ingredient {
    }

    &-price {
    }

    &-remove {
    }
  }

  &__cart {
    &-icon {
    }

    &-count {
    }

    &-wrapper {
    }

    &-title {
    }

    &-products {
    }

    &-product {
    }

    &-image {
    }

    &-info {
    }

    &-name {
    }

    &-ingredients {
    }

    &-ingredient {
    }

    &-counting {
    }

    &-add {
    }

    &-value {
    }

    &-price {
    }

    &-remove {
    }

    &-total {
    }
  }

  &__bottom {
  }
}
