// target
.target {
  &__inner {
    display: flex;
    align-items: center;
    padding: 80px 0 100px;
  }

  &__info {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 52px;
  }

  &__logo {
    display: inline-block;
    font-size: 52px;
    &-image {
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 28px;
  }

  &__link {
    margin-top: 50px;
  }

  &__discount {
    margin-top: 30px;
  }

  &__content {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 500px;
    margin-left: 50px;
  }

  &__image {
    position: absolute;
    right: -70px;
    top: -50px;
    width: 800px;
    background-position: center;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
  }
  &__shape {
    position: absolute;
    right: -130px;
    top: -125px;
    transform: rotateZ(100deg);
    pointer-events: none;
    width: 800px;
    object-fit: cover;
  }

  &__socials {
    position: absolute;
    right: 0;
    bottom: 0;
    &-item {
    }
  }
}

// novelty
.novelty {
  &__inner {
    position: relative;
    padding: 0 0 100px;
  }

  &__title {
  }

  &__box {
    position: relative;
  }

  &__slider {
    width: 100%;
    max-width: 1140px;
    &-wrapper {
      padding: 70px 0 0;
    }

    &-arrow {
    }

    &-arrow_prev {
    }
    &-arrow_next {
    }
  }

  &__item {
    &-image {
    }

    &-title {
    }

    &-desc {
    }

    &-ingredients {
    }

    &-ingredient {
    }

    &-price {
    }

    &-new {
    }
  }

  &__link {
    margin: 30px auto 0;
  }

  &__decor {
    width: 800px;
    left: -650px;
    top: 20px;
  }
}

//buy-often
.buy-often {
  &__inner {
    position: relative;
    padding: 0 0 100px;
  }

  &__title {
  }

  &__description {
  }

  &__box {
    position: relative;
  }

  &__slider {
    width: 100%;
    max-width: 1140px;
    &-wrapper {
      padding: 50px 0 0;
    }
  }

  &__item {
    &-image {
    }

    &-title {
    }

    &-desc {
    }

    &-ingredients {
    }

    &-ingredient {
    }

    &-bottom {
    }

    &-price {
    }

    &-buy {
    }

    &-new {
    }

    &-favorite {
    }
  }

  &__link {
    margin: 30px auto 0;
  }
}

// details
.details {
  &__inner {
    position: relative;
    padding: 0 0 100px;
  }

  &__title {
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  &__item {
    text-align: center;
    background-color: $accentL;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $coffee;
    & + & {
      margin-left: 30px;
    }
    &-num {
      font-size: 36px;
    }

    &-title {
      margin-top: 10px;
      font-size: 18px;
    }
  }
  &__decor {
    width: 800px;
    right: -500px;
    bottom: -200px;
    &-image {
      transform: rotateZ(-40deg);
    }
  }
}

// history
.history {
  &__inner {
    padding: 0 0 100px;
  }

  &__title {
  }

  &__content {
    position: relative;
    padding-top: 50px;
  }

  &__poster {
    position: absolute;
    width: max-content;
    z-index: -1;
    &-first {
      top: 100px;
      left: -225px;
      .history__poster-image:last-child {
        right: 2px;
        bottom: 8px;
      }
    }

    &-second {
      bottom: -25px;
      right: -225px;
      .history__poster-image:last-child {
        left: 2px;
        bottom: 8px;
      }
    }

    &-image {
      img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:last-child {
        position: absolute;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    & + & {
      margin-top: 20px;
    }
    &-first {
    }
    &-second {
    }
    &-third {
    }

    &:nth-child(even) {
      .history__info {
        margin-left: 20px;
      }
      .history__text {
        padding-left: 40px;
      }
      .history__decor {
        left: 0;
      }
    }

    &:nth-child(odd) {
      .history__info {
        margin-right: 20px;
        text-align: right;
      }
      .history__text {
        padding-right: 40px;
      }
      .history__decor {
        right: 0;
      }
    }
  }

  &__info {
    max-width: 500px;
    width: 100%;
    font-size: 18px;
  }

  &__text {
    position: relative;
    &:hover {
      .history__decor {
        &:before {
          animation: pulseHistoryDecor 1s forwards;
        }
      }
    }
    & + & {
      margin-top: 20px;
    }
  }
  &__decor,
  &__decor::before {
    position: absolute;
    border: 1px solid $coffee;
    top: 50%;
  }
  &__decor {
    width: 20px;
    height: 20px;
    transform: translateY(-50%) rotateZ(45deg);
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      will-change: auto;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// paralax
.paralax {
  &__inner {
    padding: 0 0 100px;
  }
  &__image {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    filter: grayscale(1);
  }
}

// reviews
.reviews {
  &__inner {
    padding: 0 0 100px;
  }

  &__title {
  }

  &__box {
    position: relative;
  }

  &__slider {
    position: relative;
    width: 100%;
    max-width: 1140px;
    &-wrapper {
      padding: 50px 0 0;
    }
  }

  &__slide {
    max-width: 360px;
    width: 100%;
    padding: 20px;
    background-color: $accentL;
    border: 1px solid $coffee;
    border-radius: 20px;
    text-align: center;
    &-top {
    }

    &-image {
      width: 70px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    &-info {
    }

    &-name {
      font-size: 21px;
      margin-top: 5px;
    }

    &-rate {
      display: none;
    }

    &-text {
      margin-top: 5px;
      font-size: 18px;
    }
  }

  &__btn {
    display: block;
    margin: 30px auto 0;
  }
}

// faq
.faq {
  &__inner {
    position: relative;
    padding-bottom: 100px;
  }

  &__title {
  }

  &__list {
    padding-top: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  &__item {
    & + & {
      margin-top: 5px;
    }
    &.show {
      .faq__item-content {
        grid-template-rows: 1fr;
        padding: 20px;
      }
      .faq__item-button {
        &::before,
        &::after {
          transform: translateY(-50%) rotateZ(45deg);
        }
        &::before {
        }
      }
    }
    &-title {
      border: 1px solid $coffee;
    }
    &-button {
      position: relative;
      background-color: $accentL;
      border: none;
      width: 100%;
      text-align: left;
      padding: 20px;
      font-size: 21px;
      cursor: pointer;
      color: $coffee;
      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $coffee;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        transition: transform 0.5s ease;
      }
      &::before {
        width: 2px;
        height: 14px;
        right: 26px;
      }
      &::after {
        width: 14px;
        height: 2px;
        right: 20px;
      }
    }
    &-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.5s ease;
      padding: 0 20px;
      background-color: $secondaryL;
      border: 1px solid $accentL;
      border-top: none;
    }
    &-description {
      overflow: hidden;
      font-size: 18px;
      color: $coffee;
    }
  }
  &__decor {
    width: 800px;
    &-image {
    }
    &-first {
      left: -500px;
      top: -250px;
      transform: scaleX(-1);
    }
    &-second {
      right: -500px;
      bottom: -150px;
    }
  }
}
