// target
.target {
  &__inner {
    display: flex;
    align-items: center;
    padding-top: 80px;
  }

  &__info {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 52px;
  }

  &__logo {
    display: inline-block;
    font-size: 52px;
    &-image {
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 28px;
  }

  &__link {
    margin-top: 50px;
    background-color: $accentL;
    color: $coffee;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 21px;
    @include fSemiBold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.5s ease;
    &:hover {
      border: 2px solid $accentL;
      background-color: transparent;
    }
  }

  &__discount {
    margin-top: 30px;
  }

  &__content {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 500px;
    margin-left: 50px;
  }

  &__image {
    position: absolute;
    right: -70px;
    top: -50px;
    width: 800px;
    background-position: center;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
  }
  &__shape {
    position: absolute;
    right: -130px;
    top: -125px;
    transform: rotateZ(100deg);
    pointer-events: none;
    width: 800px;
    object-fit: cover;
  }

  &__socials {
    position: absolute;
    right: 0;
    bottom: 0;
    &-item {
    }
  }
}

// novelty
.novelty {
  &__inner {
    padding: 100px 0;
  }

  &__title {
  }

  &__slider {
    position: relative;
    padding-top: 70px;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 0 70px;
    }
    &-arrow {
      position: absolute;
      padding: 10px;
      width: 40px;
      height: 40px;
      top: 50%;
      background-color: transparent;
      border: 1px solid $coffee;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
      transition: scale 0.3s ease;
      &:hover {
        scale: 1.1;
      }
      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .arrow-prev {
      left: 0;
      transform: rotate(135deg);
    }
    .arrow-next {
      right: 0;
      transform: rotate(-45deg);
    }
  }

  &__item {
    &-image {
    }

    &-title {
    }

    &-desc {
    }

    &-ingredients {
    }

    &-ingredient {
    }

    &-price {
    }

    &-new {
    }
  }
}

// details
.details {
  &__inner {
    padding: 0 0 100px;
  }

  &__title {
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  &__item {
    text-align: center;
    background-color: $accentL;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $coffee;
    & + & {
      margin-left: 30px;
    }
    &-num {
      font-size: 36px;
    }

    &-title {
      margin-top: 10px;
      font-size: 18px;
    }
  }
}

// history
.history {
  &__inner {
    padding: 0 0 100px;
  }

  &__title {
  }

  &__content {
    position: relative;
    padding-top: 50px;
  }

  &__poster {
    position: absolute;
    width: max-content;
    z-index: -1;
    &-first {
      top: 100px;
      left: -225px;
      .history__poster-image:last-child {
        right: 2px;
        bottom: 8px;
      }
    }

    &-second {
      bottom: -25px;
      right: -225px;
      .history__poster-image:last-child {
        left: 2px;
        bottom: 8px;
      }
    }

    &-image {
      img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:last-child {
        position: absolute;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    & + & {
      margin-top: 20px;
    }
    &-first {
    }
    &-second {
    }
    &-third {
    }

    &:nth-child(even) {
      .history__info {
        margin-left: 20px;
      }
      .history__text {
        padding-left: 40px;
      }
      .history__decor {
        left: 0;
      }
    }

    &:nth-child(odd) {
      .history__info {
        margin-right: 20px;
        text-align: right;
      }
      .history__text {
        padding-right: 40px;
      }
      .history__decor {
        right: 0;
      }
    }
  }

  &__info {
    max-width: 500px;
    width: 100%;
    font-size: 18px;
  }

  &__text {
    position: relative;
    &:hover {
      .history__decor {
        &:before {
          animation: pulseHistoryDecor 1s forwards;
        }
      }
    }
    & + & {
      margin-top: 20px;
    }
  }
  &__decor,
  &__decor::before {
    position: absolute;
    border: 1px solid $coffee;
    top: 50%;
  }
  &__decor {
    width: 20px;
    height: 20px;
    transform: translateY(-50%) rotateZ(45deg);
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      will-change: auto;
    }
  }

  &__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// paralax
.paralax {
  &__image {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }
}
