@font-face {
  font-family: 'Cormorant Infant';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/CormorantInfant-Light.woff') format('woff'),
    url('/fonts/CormorantInfant-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Cormorant Infant';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/CormorantInfant-Regular.woff') format('woff'),
    url('/fonts/CormorantInfant-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Cormorant Infant';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/CormorantInfant-Medium.woff') format('woff'),
    url('/fonts/CormorantInfant-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Cormorant Infant';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/CormorantInfant-SemiBold.woff') format('woff'),
    url('/fonts/CormorantInfant-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Cormorant Infant';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/CormorantInfant-Bold.woff') format('woff'),
    url('/fonts/CormorantInfant-Bold.woff2') format('woff2');
}
